#jz001 {
  position: absolute;
  width: 70%;
  left: 20%;
  top: 34%;
}

#b10004 {
  position: absolute;
  width: 15%;
  right: 10%;
  bottom: 10%;
}

.inputclass1 {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.xz {
  -webkit-animation: xz 60s infinite linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes xz {
  0%{-webkit-transform: rotateZ(0deg);
  -webkit-transform-origin: 100% 0%;
}

100% {
  -webkit-transform: rotateZ(360deg);
  -webkit-transform-origin: 100% 0%;
}

}

.xzfs {
  -webkit-animation: xzfs 1s  linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes xzfs {
  0%{-webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 50% 50%;
}

100% {
  -webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 50% 50%;
}

}

.xz1 {
  -webkit-animation: xz1 0.5s  linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes xz1 {
  0%{-webkit-transform: rotateZ(-15deg);
  -webkit-transform-origin: 0% 0%;
}

100% {
  -webkit-transform: rotateZ(-15deg);
  -webkit-transform-origin: 0% 0%;
}

}

.xz2 {
  -webkit-animation: xz2 0.3s  linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes xz2 {
  0%{-webkit-transform: rotateZ(-15deg);
  -webkit-transform-origin: 0% 0%;
}

100% {
  -webkit-transform: rotateZ(20deg);
  -webkit-transform-origin: 0% 0%;
}

}

.mrwz {
  -webkit-animation: mrwz 0.5s linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mrwz {
  0%{-webkit-transform: rotateZ(-90deg);
  -webkit-transform-origin: 0% 0%;
}

100% {
  -webkit-transform: rotateZ(-90deg);
  -webkit-transform-origin: 0% 0%;
}

}

.xzbj {
  -webkit-animation: xzbj 1s linear;
  ;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes xzbj {
  0%{-webkit-transform: rotateZ(-90deg);
  -webkit-transform-origin: 0% 0%;
}

100% {
  -webkit-transform: rotateZ(0deg);
  -webkit-transform-origin: 0% 0%;
}

}

.yy {
  -webkit-animation: yy 1s infinite linear;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes yy {
  0%{-webkit-transform: scale(1,1);
}

25% {
  -webkit-transform: scale(1,0.9);
}

50% {
  -webkit-transform: scale(0.9,1);
}

75% {
  -webkit-transform: scale(1,0.9);
}

100% {
  -webkit-transform: scale(1,1);
}

}

